.semester__body {
    width: 100%;
    border: 2px solid #ccc;
    border-collapse: collapse;
}
.semester__body thead {
    & th {
        background-image: linear-gradient(to bottom right, rgb(85, 85, 223), rgba(0, 248, 255, 0.431372549));
        background-color: #3282b8;
        color: white;
    }
}
.semester__body td,
.semester__body th {
    border: 2px solid #ccc;
    padding: 5px 20px;
    text-align: center;
}
.header {
    height: 30px;

    &.active {
        color: black;
    }
}

@media only screen and (max-width: 723px) {
    .semester__body {
        margin-top: 20px !important;
    }
    .header {
        font-size: 10px;
    }
    .MH_item {
        font-size: 7px;
    }
    .semester__body td,
    .semester__body th {
        border: 2px solid #ccc;
        padding: 5px 3px 5px 5px;
    }
}
/* table */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
}
