.wrapper {
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
}

.addSub {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 15px;
    background-color: #3282b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        background-color: #0f4c75;
    }
}

.date_and_time {
    margin: 10px 0 10px 10px;
    padding-left: 10px;
}

.content {
    background-color: aliceblue;
    border: 1px solid rgb(114, 176, 33);
    margin: 0 10px;
    border-radius: 2px;
}

.content-head {
    text-align: left;
    padding-left: 20px;
    height: 50px;
    align-content: center;
    display: flex;
    align-items: center;
    position: relative;
    background: white;
    background-image: linear-gradient(to bottom right, rgb(71 222 224), #6acfd86e);
}

.content__row {
    display: flex;
    margin: 10px 0;
    align-items: center;
    height: 25px;

    & + .content__row {
        border-top: 1px solid #333;
    }
}

.content__row_item {
    height: 60px;
    padding: 5px 0px;
    position: relative;
}

.overtime {
    cursor: default !important;
    color: red;
}

.input {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    input[type='text'],
    input[type='date'] {
        margin-left: 30px;
        width: 200px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;

        &:focus {
            outline: none;
            border-color: #3282b8;
            box-shadow: 0 0 3px rgba(50, 130, 184, 0.5);
        }
    }

    input[type='time'] {
        margin-left: 30px;
        margin-bottom: 10px;
        width: 200px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;

        &:focus {
            outline: none;
            border-color: #3282b8;
            box-shadow: 0 0 3px rgba(50, 130, 184, 0.5);
        }
    }

    button {
        padding: 8px 15px;
        margin-bottom: 10px;
        background-color: #3282b8;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 400;
        margin-left: 30px;

        &:hover {
            background-color: #0f4c75;
            font-weight: 600;
        }
    }
}

.pa {
    margin: 10px 30px;
}

.delete {
    min-width: 48px;
    margin-left: 2px;
}
.table {
    padding: 10px;
    width: 100%;
    border-collapse: collapse;

    & td,
    & th {
        padding: 15px 10px;
        text-align: center;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 723px) {
    .table {
        font-size: 12px;

        & td,
        & th {
            padding: 5px 3px;
            text-align: center;
            line-height: 1.5;
            position: relative;
        }
    }
    .date_and_time {
        margin: 10px 0 10px 0px;
        padding-left: 10px;
    }

    .content {
        max-width: 100%;
        overflow: hidden;
        font-size: 13px;
    }
}

/* table */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
}
