.wraper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;

    -webkit-user-select: none;
    user-select: none;
}

.inner {
    background-color: white;
    background-image: linear-gradient(to bottom right, #173143, rgb(0 0 0 / 43%));
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1%;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    margin-right: 10px;
    margin-left: 15px;

    .narbar__list-item-img {
        width: 45px;
        height: 45px;
    }
}

.control {
    display: flex;
    justify-items: center;
    align-items: center;

    position: relative;

    .narbar__link-control--course,
    .narbar__link-control--info,
    .narbar__link-control--home {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;

        padding: 0px 10px;
        height: 60px;
        line-height: 60px;
        transition: background-image 0.5s ease;
        display: block;

        &:hover {
            background-image: linear-gradient(to bottom right, rgb(85 85 223), #00f8ff6e);
        }
    }

    .narbar__link-control--home {
        padding: 0px 24px;
    }

    .page_Home,
    .page_Private,
    .page_Course {
        background-image: linear-gradient(to bottom right, rgb(85 85 223), #00f8ff6e);
        background-color: #3282b8;
        cursor: default;
        user-select: none;
        display: block;
        &:hover {
            background-image: linear-gradient(to bottom right, rgb(85 85 223), #00f8ff6e);
            background-color: #3282b8;
        }
    }
}

.active {
    display: flex;
    align-items: center;

    .notify,
    .mess {
        position: relative;
        font-size: 1.8rem;
        color: white;
        margin: 0px 5px;
        cursor: pointer;
        padding: 5px;
    }

    .notify {
        cursor: default;
    }

    .number-notify {
        background-color: red;
        position: absolute;
        border-radius: 50%;
        top: 0px;
        right: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        cursor: pointer;

        &.mall {
            height: 17px;
            width: 17px;
        }

        &.large {
            width: 20px;
            height: 20px;
            top: -6px;
            right: -6px;
        }
    }

    .box-notify {
        width: 350px;
        height: 490px;
        background-color: white;
        position: absolute;
        top: 55px;
        border: solid 2px #33333329;
        border-top: transparent;
        border-radius: 2px;
        right: 0px;
        top: 50px;
        color: #ccc;
        visibility: hidden;
        scale: 0;
        opacity: 0;
        transform-origin: 97% -5%;
        transition: visibility 300ms ease-in, opacity 300ms ease-in, scale 300ms ease-in;
    }

    .box-mess {
        visibility: hidden;
        width: 350px;
        background-color: white;
        margin-top: 11px;
        border-top: transparent;
        border-radius: 2px;
        margin-left: 6px;
        color: #ccc;
        position: fixed;
        z-index: 10;
        top: 48px;
        right: -100%;
        padding-top: 10px;
        border: solid 2px rgba(51, 51, 51, 0.1607843137);

        opacity: 0;
        transition: visibility 800ms ease, opacity 800ms ease, right 800ms linear;
    }

    .avatar {
        margin-left: 5px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .button-mess {
        background-color: transparent;
        cursor: pointer;
    }
}

.display__none {
    display: none !important;
}

.iconbell {
    width: 15px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.table-user {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 61px;
    right: 0px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;

    overflow: hidden;

    .item-user {
        height: 35px;
        font-size: 17px;
        display: flex;
        align-items: center;
        padding-left: 8px;
        cursor: pointer;

        &:hover {
            background-color: #ccc;
        }
    }
}

@keyframes mess-Out {
    0% {
        transform: translateX(100%);
    }

    60% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 723px) {
    .wraper {
        width: 100%;
    }
    .inner {
        height: 40px;
        margin: 0px;
        padding: 0px 10px 0px 0px;
    }

    .control {
        .narbar__link-control--course,
        .narbar__link-control--info,
        .narbar__link-control--home {
            overflow: hidden;
            font-size: 1rem;
            height: 40px;
            line-height: 40px;
        }
    }

    .logo {
        margin-left: 0px;
        display: none;
    }

    .box-notify {
        width: 307px !important;
    }

    .narbar__link-control--home {
        padding: 0px 24px 0px 0px;
    }

    .inner {
        width: 100%;
        margin: 0px;
    }

    @keyframes mess-Out {
    }

    .active {
        .box-mess {
            background-color: white;
            border-top: transparent;
            border-radius: 2px;
            /* margin-left: 6px; */
            color: #ccc;
            animation: Header_mess-Out__RAoTc 0.6s ease-in;
            position: fixed;
            z-index: 10;
            top: 39px;
            right: 0px;
            left: 0px;
            border: solid 2px rgba(51, 51, 51, 0.1607843137);
            margin-left: 0px;
            width: auto;
            margin-top: 0px;
            height: auto;
            overflow: hidden;
            right: 0px !important;
        }
        .box-notify {
            right: -10px;
            top: 40px;
        }
        .notify,
        .mess {
            font-size: 1.5rem;
        }
        .avatar {
            width: 25px;
            height: 25px;
        }
    }
    .table-user {
        top: 40px;
    }
}

/* table */
@media only screen and (max-width: 370px) {
    .active {
        .box-mess {
            background-color: white;
            border-top: transparent;
            border-radius: 2px;
            /* margin-left: 6px; */
            color: #ccc;
            animation: Header_mess-Out__RAoTc 0.6s ease-in;
            position: fixed;
            z-index: 10;
            top: 39px;
            right: 0px;
            left: 0px;
            border: solid 2px rgba(51, 51, 51, 0.1607843137);
            margin-left: 0px;
            width: auto;
            margin-top: 0px;
            height: auto;
            overflow: hidden;
            right: 0px !important;
        }
        .box-notify {
            right: -25px;
            top: 40px;
        }
        .notify,
        .mess {
            font-size: 1.5rem;
        }
        .avatar {
            width: 25px;
            height: 25px;
        }
    }
}
