.change-info {
    font-size: 1.5rem;
    padding: 10px;
    width: 98%;
    margin: 0px 1% 0% 1%;
    overflow-x: hidden;
    position: relative;
}
.change-info__header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: center;
    background-color: #044cc8;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
}
.change-info__input {
    width: 40%;
    height: 30px;
}
.change-info__body {
    position: relative;
    display: flex;
    margin-top: 20px;
    border: solid 2px #2f303342;
    height: 530px;
    padding-top: 20px;
    border-radius: 10px;
}
.change-info__me {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.change-info__family {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.change-info__me-block {
    display: flex;
    flex-direction: column;
}
.change-info__me-header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: transparent;
    background-clip: text;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #3771e0 0%, #8a57ea 100%);
}
.change-info__label {
    width: 100%;
    height: 30px;
    font-weight: 500;
    margin: 0px 10%;
    display: flex;
    align-items: center;
}
.change-info__input {
    width: 80%;
    height: 32px;
    margin: 0px 10%;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.207);
    padding: 5px;
}
.change-info__btn {
    /* margin-top: 50px; */
    height: 30px;
    /* width: 100px; */
    /* padding: 10px; */
    background-color: #d7a5a5;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(85, 85, 223), rgba(255, 0, 0, 0.431372549));
    border-radius: 5px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 25%;
    -webkit-user-select: none;
    user-select: none;
    padding: 6px 16px;
}
.change-info__btn:hover {
    cursor: pointer;
    opacity: 0.7;
}
.change-info__decoration {
    background-color: white;
    color: #ff9000;
    font-size: 16px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 5px;
    position: absolute;
    top: 14px;
    left: 30px;
    font-family: 'Roboto';
    z-index: 2;
}

@media only screen and (max-width: 723px) {
    .change-info__body {
        flex-direction: column;
    }
    .change-info__me {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .change-info__family {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .change-info__body {
        height: auto;
        padding-bottom: 50px;
    }
    .change-info__btn {
        margin-left: 30.5%;
        position: absolute;
        bottom: 1.5%;
    }
    .change-info__me-header {
        margin-bottom: 5px;
    }
}
/* table */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
}
