.grid_btn {
    background-color: #dce1e0;
    border: none;
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin-left: 2px;
    & + .grid_btn {
        margin-left: 20px;
    }
}

.grid_btn:hover {
    background-color: #d7a5a5;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(85 85 223), #ff00006e);
}

.active {
    background-color: #d7a5a5;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(85 85 223), #ff00006e);
    &:hover {
        cursor: default;
    }
}

@media only screen and (max-width: 723px) {
    .grid_btn {
        padding: 10px;
        font-size: 18px;
    }
}
/* table */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
}
